* {
	box-sizing: border-box;
}
html{
    background-color: white;
    margin: 0%;
    padding : 15% 35% 15% 35%;
}

#manicontanner{
    background-color:rgb(241, 205, 87);
    border: 8px solid black;
    border-radius: 20%;
    text-align: center;
}
form{
    height: 50%;
    width: 100%;
    margin: 2px;
    padding: 2px;
    border: 2px;
    border-radius: 20%;
}
input{
    margin-bottom: 10px;
}
button{
    --bs-btn-padding-y: .250rem; 
    --bs-btn-padding-x: .50rem; 
    --bs-btn-font-size: .75rem;
}

#active-alarm {
    display: none;
  } 