*{ 
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}
body{
    background-color: black;
    background-size: cover;
} 
#alarm_clock{
    width: 50vw;
    height: 50vh;
    margin: 25%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 5px rgb(197, 55, 55) solid;
    border-radius: 10px;
    background-color: rgb(122, 120, 120);
}
.text{
    color: white;
    margin: 5px;
    text-align: center;
    font-size: 2.5rem;
}
#current-time{
    color: rgb(96, 48, 151);
    text-align: center;
    font-size: 2.5rem;
}
form{
    display: flex;
    flex-direction: row;
     justify-content: center;
    text-align: center;  
}
input{
    width: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    border-color: transparent;
    border-radius: 10px;
    height: 70%;
    text-align: center;
    font-size: 20px;
    margin: 10px;
}
select{
    width: 50%;
    border-color: transparent;
    border-radius: 10px;
    height: 70%;
    text-align: center;
    font-size: 20px;
    margin: 10px;
}
button{
    width: 50%;
    border-color: transparent;
    border-radius: 10px;
    height: 70%;
    text-align: center;
    font-size: 20px;
    margin: 10px;
}

#active-alarm {
    display: none;

    #alarm-text{
        color: white;
        margin: 5px;
        text-align: center;
        font-size: 2.5rem;
    }

    #clear-alarm{
        width: 20%;
        border-color: transparent;
        border-radius: 10px;
        height: 30%;
        text-align: center;
        font-size: 20px;
        margin: 10px;
        background-color: red;
        color: white;
    }
} 